@model GymLog.UI.Models.BodyPart

@if (Model.BodyPartId == 0)
{
    ViewData["Title"] = "Create Body Part";
    <h2>Create Body Part</h2>
}
else
{
    ViewData["Title"] = "Edit Body Part";
    <h2>Edit Body Part</h2>
}

<form asp-action="SaveBodyPart" method="post">
    <div class="form-group">
        <label asp-for="BodyPartName" class="control-label"></label>
        <input asp-for="BodyPartName" class="form-control" />
        <span asp-validation-for="BodyPartName" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="BodyPartId" />

    <br/>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="BodyParts" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
